<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>A Galaxy far far away...</h1>
    <p>Darth @Model.Name, looked at his master while his @Model.Adjective1 breathing filled the room. He was told to go to @Model.Verb1 everything on the planet of @Model.SillyWord. He got in his @Model.Noun1 and jumped to hyperspace. Soon before he reached the planet, he dropped out of hyperspace and was attacked by Rebel @Model.PluralNoun. He @Model.Verb2 them off and continued to the plane's surface. He landed and confronted more opposition, slicing it down with his @Model.Noun2. He used the @Model.Noun3 to choke another Rebel, then @Model.Verb3 him aside. He finished off all life on the planet with a/an @Model.Adjective2 laugh.</p>
  </body>
</html>